* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

html, body {
  scroll-behavior: smooth;
  min-height: 100dvh;
  width: 100%;
}

a {
  text-decoration: none;
}

.head{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 20px;
    overflow: hidden;
    min-height: 4.3em;
    min-width: 1000px;
    width: 100%;
}

.navy{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 20px;
    height: fit-content;
    width: 100%;
}

.navy .align{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px 0;
    background: #023047;
    outline: 2px outset #cccc;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 50px;
    height: 50px;
    width: 550px;
}

.align .hey{
    list-style: none;
}

.align .hey a{
    font-size: 1.1rem;
    color: aliceblue;
}

.align .hey a.active{
   font-weight: 700;
   color: #e8f1f2;
   border-bottom: 2px inset #edae49;
}

.align .hey a.use:not(a.active):hover{
    color: #dee2ff;
    font-weight: 600;
}

.hi{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    height: fit-content;
    width: 100%;
}

.hi h1{
    font-size: 3rem;
}

.hi strong{
    font-weight: 800;
    color: #023047;
}

.hi p{
    font-size: 1.5rem;
    font-weight: 600;
}

.sec{
    display: grid;
    position: relative;
    align-self: flex-start;
    justify-content: center;
    padding: 75px 0;
    min-height: 100dvh;
    min-width: 1000px;
    width: 100%;
}
